<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>TinDog</title>
  <link rel="stylesheet" href="css/styles.css">

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/styles.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
    integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <!-- fontawesome icon -->
  <script src="https://kit.fontawesome.com/0257eae7c4.js" crossorigin="anonymous"></script>

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">





  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

  <section id="title">
    <div class="container-fluid">
      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-md navbar-dark ">
        <a class="navbar-brand" href="">tindog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item "><a href="#footer" class="nav-link">Contact</a></li>
            <li class="nav-item "><a href="#pricing" class="nav-link">Pricing</a></li>
            <li class="nav-item "><a href="page2.html" class="nav-link">Download</a></li>
          </ul>
        </div>

      </nav>



      <!-- Title -->
      <div class="row">
        <div class="col-lg-6">
          <h1 style="font-family: 'Ubuntu', sans-serif; color:white;font-size:3.5em;line-height: 1.5;">Meet new and
            interesting dogs nearby.</h1>
          <button type="button" class="btn btn-dark btn-lg download"
            style="margin-top: 10px;font-family: 'Montserrat', sans-serif;font-size: 22px;"><i class="fab fa-apple"></i>
            For Mac</button>
          <button type="button" class="btn btn-outline-light btn-lg download "
            style="margin-top: 10px;font-family: 'Montserrat', sans-serif;font-size: 22px;"><i
              class="fab fa-windows"></i> For Windows</button>
        </div>
        <div class="col-lg-6 ">
          <div>
            <img src="images/iphone6.png" class="firstDogimage" alt="iphone-mockup">
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Features -->

  <section id="features">
    <div class="row">
      <div class="col-lg-4">
        <h3 style="text-align: center;font-weight: bold;"><i class="fas fa-check-circle fa-2x myclass"
            style="padding-bottom:25px;"></i><br>Easy to use.</h3>
        <p style="text-align: center;padding:0% 15%;color: gray;font-size:1.15em;">So easy to use, even your dog could
          do it.</p>
      </div>
      <div class="col-lg-4">
        <h3 style="text-align: center;font-weight: bold;"><i class="fas fa-bullseye fa-2x mysecondclass"
            style="padding-bottom:25px;"></i><br>Elite Clientele</h3>
        <p style="text-align: center;padding:0% 15%;color: gray;font-size:1.15em;">We have all the dogs, the greatest
          dogs.</p>
      </div>
      <div class="col-lg-4">
        <h3 style="text-align: center;font-weight: bold;"><i class="fas fa-heart fa-2x mythirdclass icon"
            style="padding-bottom:25px;"></i><br>Guaranteed to work.</h3>
        <p style="text-align: center;padding:0% 15%;color: gray;font-size:1.15em;">Find the love of your dog's life or
          your money back.</p>
      </div>
    </div>

  </section>


  <!-- Testimonials -->

  <section id="testimonials">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2>I no longer have to sniff other dogs for love. I've found the hottest Corgi on TinDog. Woof.</h2>
          <br>
          <img src="images/dog-img.jpg" style="border-radius: 100%;width: 10%;" alt="dog-profile">
          <em>Pebbles, New York</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love
            of
            their life. I think.</h2>
          <br>
          <img class="testimonial-image" style="border-radius: 100%;width: 10%;" src="images/lady-img.jpg"
            alt="lady-profile">
          <em>Beverly, Illinois</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>




  </section>


  <!-- Press -->

  <section id="press">
    <img src="images/techcrunch.png" style="width: 20%;" alt="tc-logo">
    <img src="images/tnw.png" style="width: 20%;" alt="tnw-logo">
    <img src="images/bizinsider.png" style="width: 20%;" alt="biz-insider-logo">
    <img src="images/mashable.png" style="width: 20%;" alt="mashable-logo">

  </section>


  <!-- Pricing -->

  <section id="pricing">
    <h2 style="font-family: 'Roboto Slab', serif;font-size:3.5em;line-height:1.5em;">A Plan for Every Dog's Needs</h2>
    <p style="font-size:1.2em;"> Simple and affordable price plans for your and your dog.</p>
    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="card cards">
          <div class="card-header">
            <h3>Chihuahua</h3>
          </div>
          <div class="card-body">
            <h2>Free</h2>
            <p>5 Matches Per Day</p>
            <p>10 Messages Per Day</p>
            <p>Unlimited App Usage</p>
            <button type="btn" class="btn btn-block btn-dark">Sign Up</button>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card cards">
          <div class="card-header">
            <h3>Labrador</h3>
          </div>
          <div class="card-body">
            <h2>$49 / mo</h2>
            <p>Unlimited Matches</p>
            <p>Unlimited Messages</p>
            <p>Unlimited App Usage</p>
            <button type="btn" class="btn btn-block btn-dark">Sign Up</button>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card cards">
          <div class="card-header">
            <h3>Mastiff</h3>
          </div>
          <div class="card-body">
            <h2>$99 / mo</h2>
            <p>Pirority Listing</p>
            <p>Unlimited Messages</p>
            <p>Unlimited App Usage</p>
            <button type="btn" class="btn btn-block btn-dark">Sign Up</button>
          </div>
        </div>
      </div>


    </div>
  </section>


  <!-- Call to Action -->

  <section id="cta">

    <h3>Find the True Love of Your Dog's Life Today.</h3>
    <button type="button" class="btn btn-dark btn-lg download"
      style="margin-top: 10px;font-family: 'Montserrat', sans-serif;font-size: 22px;"><i class="fab fa-apple"></i>
      DOWNLOAD</button>
    <button type="button" class="btn btn-outline-light btn-lg download "
      style="margin-top: 10px;font-family: 'Montserrat', sans-serif;font-size: 22px;"><i class="fab fa-windows"></i>
      DOWNLOAD</button>

  </section>


  <!-- Footer -->

  <footer id="footer">
    <div id="socialmediaIcons">
      <i class="fab fa-facebook-f  fa-2x" style="padding: 20px;"></i>
      <i class="fab fa-instagram fa-2x" style="padding: 20px;"></i>
      <i class="fab fa-twitter fa-2x" style="padding: 20px;"></i>
      <i class="fas fa-envelope fa-2x" style="padding: 20px;"></i>
      <p>© Copyright 2018 TinDog</p>
    </div>
  </footer>


</body>

</html>